NEXT_PUBLIC_APP_NAME=CCT MARKET PLACE
NEXT_PUBLIC_NFT_NAME=Bika Characters
NEXT_PUBLIC_COIN_NAME=BKC
NEXT_PUBLIC_THEME=neon
NEXT_PUBLIC_THEME_OPTIONS=neon,redblue
NEXT_PUBLIC_BRAND_NAME=Bika Characters
