# API server URL
NEXT_PUBLIC_API_URL=https://YOUR_API_URL

# Wallet provider URL
NEXT_PUBLIC_WALLET_PROVIDER_URL=

# Smart contract settings
NEXT_PUBLIC_CONTRACT_ADDRESS=

# Admin wallet address
NEXT_PUBLIC_ADMIN_WALLET_ADDRESS=

# UI settings
NEXT_PUBLIC_SHOW_RARITY=Supreme
NEXT_PUBLIC_CHARACTER_ROTATION=5000
NEXT_PUBLIC_PURCHASE_ENABLED=true
